<div class="card">
    <div class="card-body">
        <p>
            @for (palabra of palabraUsuario; track $index) {
                {{palabra}}
            }
        </p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <form>
        <div>
            <label for="" class="form-label">
                Ingrese letra: 
            </label>
            <input type="text" class="form-control" placeholder="letra">
        </div>
        <button class="btn btn-primary mt-2">
            Enviar
        </button>
    </form>

    </div>
</div>